* {
    font-family: 'Segoe UI', sans-serif;
     
}

.PostContainer {
    padding: 1rem;
    width: 90%;    
    border-bottom: 1px solid #26282A;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.PostContainer:hover {
    background-color: #181C1F;
       
    
}

.AuthorAndTime {
    width: 40%;
    display: flex;   
    color: #8BA2AD;
    
}

.AuthorAndTime span {
    padding-left: 0.5rem;
    font-size: smaller;
}


.ButtonsContainer {
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

.button {
    background-color: #2A3236;
    color: #EEF1F3;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    
}

.button i {
    margin: 0 0.5rem;
}

.button span {
    margin: 0 0.3rem;
}

.button:hover {
    background-color: #333D42;
}

.button:active {
    background-color: #515A5E;
}

.title {
    font-size: medium;
}

.selftext {
    color: #B7CAD4;
    font-size: small;
    
}

.img {
    width: 20%; /* Ajusta esto según el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    image-rendering: -webkit-optimize-contrast; /* Para navegadores WebKit */
    image-rendering: crisp-edges; /* Para otros navegadores */
}
